[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"
flask = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
ipykernel = "*"
webdriver-manager = "*"
beautifulsoup4 = "*"
pandas = "*"
flask-cors = "*"

[requires]
python_version = "3.9"
